:root {
  --beginGradient: #4e63e6;
  --endGradient: yellow;
}

body {
  font-family: "Itim", cursive;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background: linear-gradient(
    to right,
    var(--beginGradient),
    var(--endGradient)
  );
}

.main-title {
  font-size: 85px;
  line-height: 84px;
  width: 730px;
  margin: 40px auto;
}

.title {
  font-size: 35px;
}
